<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <paypal>
    <settings>
      <add name="mode" value="live" />
      <add name="clientId" value="" />
      <add name="clientSecret" value="" />
    </settings>
  </paypal>
  <appSettings>
    <add key="ApikeyNotifications" value="" />
    <add key="ApiSecretNotifications" value="" />
    <add key="ApikeyGobalMessages" value="" />
    <add key="ApiSecretGobalMessages" value="" />
    <add key="ApiKeyMarkNotifications" value="" />
    <add key="ApiSecretMarkNotifications" value="" />
    <add key="ApiKeyNewTrades" value="" />
    <add key="ApiSecretNewTrades" value="" />
    <add key="ApiKeyMessages" value="" />
    <add key="ApiSecretMessages" value="" />
    <add key="ApiKeyChatMessages" value="" />
    <add key="ApiSecretChatMessages" value="" />
    <add key="ApiKeyMarkUserRealName" value="" />
    <add key="ApiSecretMarkUserRealName" value="" />
    <add key="ApiKeyMarkUserVerified" value="" />
    <add key="ApiSecretMarkUserVerified" value="" />
    <add key="ApiKeyReleaseBitcoins" value="" />
    <add key="ApiSecretReleaseBitcoins" value="" />
    <add key="DirectoryPath" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="LocalBitcoinsDatabase" connectionString="metadata=res://*/LocalBitcoinsDataBase.csdl|res://*/LocalBitcoinsDataBase.ssdl|res://*/LocalBitcoinsDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4GQAHL8\SQLEXPRESS01;initial catalog=LocalBitcoinsDatabase;persist security info=True;user id=niceonne;password=madureira93;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="masterEntities" connectionString="metadata=res://*/LocalBitcoinsDatabase.csdl|res://*/LocalBitcoinsDatabase.ssdl|res://*/LocalBitcoinsDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLEXPRESS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LocalBitcoinsDatabaseEntities" connectionString="metadata=res://*/LocalBitcoinsDataBase.csdl|res://*/LocalBitcoinsDataBase.ssdl|res://*/LocalBitcoinsDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-4GQAHL8\SQLEXPRESS;initial catalog=LocalBitcoinsDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>